*.pyc
__pycache__
.cache
.vscode/settings.json
.vs
desktop.ini
CMakeSettings.json

/_build/
/_deps/
/_report/
/_venv
/python/animation-controller-interface
/sample_project/models/audio2face-models
/sample_project/models/audio2emotion-models

/deps/devkitBase*
/deps/tensorrt*
/deps/cuda*
/deps/audio2x-sdk*
